<% provide(:page_title, "| New Category") %>
<div class="row justify-content-center  animated slideInDown delay-0.5s" style="margin-top: 8%">
	<div class="col-12">
		<div class="card" style="padding: 10px; margin-bottom: 10px">
			<div class="card-body">
				<h4 class="text-center" style="margin-bottom: 30px">Create New Category</h4>
				<%= render 'form', category: @category %>
			</div>
		</div>
	</div>
</div>